mixin request-user()
	+b.request-user
		+e.item
			+e.question
				.col-12.col-md-2.mb-3
					+e.name Ирина Войтова
					+e.city г. Санкт-Петербург
				.col-12.col-md-10
					p Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём.
			+e.answer
				.col-12.col-md-2.mb-3
					+e.IMG.avatar(src='img/avatar.png' width='63' height='63')
					+e.name Александр Ручьев
				.col-12.col-md-10
					p Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём. Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка
					+e.BUTTON.btn.under-canvas(type="submit") Ответить
			+e.footer
				.col-auto
					+e.share поделиться
				.col-auto
					+soc()
				.col-auto.ml-auto
					+e.status--answered Отвечено

		+e.item
			+e.question
				.col-12.col-md-2.mb-3
					+e.name Ирина Войтова
					+e.city г. Санкт-Петербург
				.col-12.col-md-10
					p Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём.
			+e.answer
				.col-12.col-md-2.mb-3
					+e.IMG.avatar(src='img/avatar.png' width='63' height='63')
					+e.name Александр Ручьев
				.col-12.col-md-10
					p Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём. Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка
					+e.TEXTAREA.textarea
					+e.BUTTON.btn.under-canvas(type="submit") отправить ответ
			+e.footer
				.col-auto
					+e.share поделиться
				.col-auto
					+soc()
				.col-auto.ml-auto
					+e.status--answered Отвечено

		+e.item
			+e.question
				.col-12.col-md-2.mb-3
					+e.name Ирина Войтова
					+e.city г. Санкт-Петербург
				.col-12.col-md-10
					p Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём.
			+e.footer
				.col-auto.ml-auto
					+e.status--consideration На рассмотрении




