mixin s-about-work-shop()
	// start s-about-work-shop
	+b.s-about-work-shop.section.pb-0#s-about-work-shop&attributes(attributes)
		+b.section-title
			h2 О МЕроприятии
		+e.wrap
			+e.text
				.h4 День 
					br
					|бухгалтерских 
					br
					|решений. 

				.h4 Годовая налоговая 
					br
					| и бухгалтерская 
					br
					| отчётность 
					br
					| за 2018 год. 

				.h4 Изменения 
					br
					|с 2019 года
			+e.img-wrap.d-none.d-xl-block
				img.res-i(src="img/about-wsh-img.jpg", alt="")
	// end s-about-work-shop