mixin s-add-servises()
	// start s-add-servises
	+b.s-add-servises.section#s-add-servises&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 s-add-servises
				
			.row
	// end s-add-servises