mixin aside()
	// start aside
	+b.aside
		//- +e.BUTTON.btn--js.btn.btn-block.btn-primary.btn-lg.d-lg-none(type="button")
		+e.nav--js
			+e.item.small: +e.A.link--active(href="#") Резидент
			+e.item.small: +e.A.link(href="#") Редактировать профиль
			+e.item.small: +e.A.link(href="#") Эксплуатация
			+e.item.small: +e.A.link(href="#") Оформить пропуск
	// end aside

mixin asideLK()
	+b.aside
		//- +e.BUTTON.btn--js.btn.btn-block.btn-primary.btn-lg.d-lg-none(type="button")
		+e.nav--js
			+e.item.small: +e.A.link--active(href="#") Мой профиль
			+e.item.small: +e.A.link(href="#") Мои обращения
			+e.item.small: +e.A.link(href="#") Входящие обращения



