.request {
  &__item {
    margin-bottom: 35px;
    position: relative;
    &--new{
      border: 1px solid #0C95ED;
    }
  }

  &__question {
    background: #FFFFFF;
    border: 1px solid #ACC8DA;
    padding-top: 37px;
    padding-bottom: 37px;
    padding-right: 50px;
    padding-left: 22px;
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    color: #000000;
    line-height: 1.5;
    position: static;
    @include media-breakpoint-down(sm) {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: 0px;
      padding-left: 0px;
      font-size: 16px;
    }
  }

  &__new {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    background-color: #0C95ED;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #0C95ED;
  }

  &__date {
    margin-bottom: 20px;
    font-size: 16px;
  }

  &__avatar {
    border-radius: 50%;
    width: 63px;
    height: 63px;
  }

  &__name {
    font-weight: bold;
  }

  &__city {
    font-size: 16px;
  }

  &__btn {
    @extend .btn;
    @extend .btn-outline-primary;
    min-width: 171px;
    font-size: 13px;
    color: black;

    &--del {
      border: none;
      color: #EF202F;
      width: 100px;
      min-width: 100px;
    }

    &--edit {
      border: none;
      color: #0C95ED;
      text-transform: none;
      min-width: 132px;
      width: 132px;
    }

    &:disabled {
      border-color:  #D8D8D8;
      color: #C2C2C2;
      cursor: default;
    }
    @include media-breakpoint-down(md){
      margin-bottom: 10px;
    }
  }

  &__answer {
    display: flex;
    flex-wrap: wrap;
    background-color: #DCF1FF;
    padding-top: 37px;
    padding-bottom: 37px;
    padding-right: 50px;
    padding-left: 22px;
    @include media-breakpoint-down(sm) {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: 0px;
      padding-left: 0px;
    }
  }

  &__footer {
    display: flex;
    flex-wrap: wrap;
    background: #FFFFFF;
    border: 1px solid #ACC8DA;
    padding-top: 24px;
    padding-left: 30px;
    padding-bottom: 13px;
    @include media-breakpoint-down(sm) {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 0px;
    }

    & .soc {
      display: flex;
    }

    & .soc__item {
      border-radius: 50%;
      background-color: #0C95ED;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    & .fab {
      color: white;
    }
  }

  &__share {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__status {
    text-transform: uppercase;
    color: #32AE30;
    font-weight: bold;
    font-size: 20px;
    padding-right: 50px;
    @include media-breakpoint-down(md) {
      padding-right: 0;
      font-size: 16px;
    }

    &--consideration {
      color: #FF8500;
    }
  }

  &__textarea {
    width: 100%;
    min-height: 150px;
    border: 1px solid #9FC2D9;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-left: 24px;
    padding-bottom: 15px;
    padding-right: 5px;
  }

  &--moderator {
    & .request__status {
      font-size: 13px;
      padding-right: 0;
    }
  }
}
