mixin request-user()
	+b.request
		+e.item--active
			+e.question
				.col-12.col-md-2.mb-3
					+e.name Ирина Войтова
					+e.city г. Санкт-Петербург
				.col-12.col-md-10
					p Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём.
				+e.accordion-toggle
			+e.answer
				.col-12.col-md-2.mb-3
					+e.IMG.avatar(src='img/avatar.png' width='63' height='63')
					+e.name Александр Ручьев
				.col-12.col-md-10
					p Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём. Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка
					+e.BUTTON.btn.under-canvas(type="submit") Ответить
			+e.footer
				.col-auto
					+e.share поделиться
				.col-auto
					+soc()
				.col-auto.ml-auto
					+e.status--answered Отвечено

		+e.item
			+e.question
				.col-12.col-md-2.mb-3
					+e.name Ирина Войтова
					+e.city г. Санкт-Петербург
				.col-12.col-md-10
					p Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём.
				+e.accordion-toggle
			+e.answer
				.col-12.col-md-2.mb-3
					+e.IMG.avatar(src='img/avatar.png' width='63' height='63')
					+e.name Александр Ручьев
				.col-12.col-md-10
					p Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём. Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка
					+e.TEXTAREA.textarea
					+e.BUTTON.btn.under-canvas(type="submit") отправить ответ
			+e.footer
				.col-auto
					+e.share поделиться
				.col-auto
					+soc()
				.col-auto.ml-auto
					+e.status--answered Отвечено

		+e.item
			+e.question
				.col-12.col-md-2.mb-3
					+e.name Ирина Войтова
					+e.city г. Санкт-Петербург
				.col-12.col-md-10
					p Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём.
				+e.accordion-toggle
			+e.footer
				.col-auto.ml-auto
					+e.status--consideration На рассмотрении

mixin request-mod()
	+b.request--moderator
		+e.item--new
			+e.question
				.col-12.col-md-2.mb-3
					+e.name Ирина Войтова
					+e.city г. Санкт-Петербург
				.col-12.col-md-10
					+e.date 16.07.2019
					p Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём.
				+e.accordion-toggle
				+e.SPAN.new новое
			+e.footer
				.col-auto
					+e.share поделиться
				.col-auto
					+soc()
				.col-auto.ml-auto.mw-100
					.row.justify-content-end.align-items-center
						.col-auto
							+e.BUTTON.btn Ответить
						.col-auto
							+e.BUTTON.btn(disabled = "disabled") Публиковать

		+e.item
			+e.question
				.col-12.col-md-2.mb-3
					+e.name Ирина Войтова
					+e.city г. Санкт-Петербург
				.col-12.col-md-10
					+e.date 16.07.2019
					p Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём.
				+e.accordion-toggle
			+e.answer
				.col-12.col-md-2.mb-3
					+e.IMG.avatar(src='img/avatar.png' width='63' height='63')
					+e.name Александр Ручьев
				.col-12.col-md-10
					p Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём. Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка
			+e.footer
				.col-auto
					+e.share поделиться
				.col-auto
					//+soc()
					<script src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
					<script src="https://yastatic.net/share2/share.js"></script>
					<div class="ya-share2" data-services="collections,vkontakte,facebook,odnoklassniki,moimir"></div>
				.col-auto.ml-auto.mw-100
					.row.justify-content-end.align-items-center
						.col-auto
							+e.status--answered Отвечено
						.col-auto
							+e.BUTTON.btn--edit Редактировать
						.col-auto
							+e.BUTTON.btn Ответить
						.col-auto
							+e.BUTTON.btn(disabled = "disabled") Публиковать

		+e.item
			+e.question
				.col-12.col-md-2.mb-3
					+e.name Ирина Войтова
					+e.city г. Санкт-Петербург
				.col-12.col-md-10
					+e.date 16.07.2019
					p Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём.
				+e.accordion-toggle
			+e.answer
				.col-12.col-md-2.mb-3
					+e.IMG.avatar(src='img/avatar.png' width='63' height='63')
					+e.name Александр Ручьев
				.col-12.col-md-10
					p Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём. Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка
					+e.TEXTAREA.textarea
			+e.footer
				.col-auto
					+e.share поделиться
				.col-auto
					+soc()
				.col-auto.ml-auto.mw-100
					.row.justify-content-end.align-items-center
						.col-auto
							+e.BUTTON.btn Сохранить
						.col-auto
							+e.BUTTON.btn(disabled = "disabled") Публиковать

		+e.item
			+e.question
				.col-12.col-md-2.mb-3
					+e.name Ирина Войтова
					+e.city г. Санкт-Петербург
				.col-12.col-md-10
					+e.date 16.07.2019
					p Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём.
				+e.accordion-toggle
			+e.footer
				.col-auto
					+e.share поделиться
				.col-auto
					+soc()
				.col-auto.ml-auto.mw-100
					.row.justify-content-end.align-items-center
						.col-auto
							+e.status--answered Отвечено
						.col-auto
							+e.BUTTON.btn--edit Редактировать
						.col-auto
							+e.BUTTON.btn Снять с публикации










