mixin s-schedule()
	// start s-schedule
	+b.s-schedule.section.pb-0#s-schedule&attributes(attributes)
		.container
			+b.section-title
				h2 ПРОГРАММА
			mixin item(i,  t1, t2, t3, t4)
				+e.item
					.row
						.col-auto
							+e.time-line
								+e.time 11:00 - 13:00
						.col-auto.align-self-center
							+e.img-wrap
								img.lazy(src="#" data-src=`img/Ellipse.jpg`, alt="")
						.col-md.align-self-center
							+e.text
								.text-primary= t1 
								.h3.strong= t2
								p.text-secondary Rubrends, Москва
								.small= t3
				// +e.item
			+item('1','Итоги отчестности 2018 года','Валентинова Мария','Подведем итоги и рассмотрим ошибки отчетности 2018 года. Научимся оценивать показатели и разберем особенности упрощенной отчетности.','')
			+item('2','Нововведения 2019 года в налогообложении и финансовом управлении','Константинопольский Александр','Обсудим изменения в декларации: новая ставка НДС, формы отчетности и справок, реформа ККТ (применение онлайн-касс) и другие важные нововведения в бухгалтерском и финансовом учебе 2019 года.')
			+item('3','Реализация проектов цифрового предприятия: от планирования до результата, оценка эффективности ','Валентинова Мария','На воркшопе Вы отработаете навыки формирования корректных бюджетов и планов, научитесь оценивать результат и эффективность деятельности цифрового предприятия  ')
	// end s-schedule