extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-about/_s-about.pug
include ../blocks/s-infrastructure/_s-infrastructure.pug
include ../blocks/s-logos/_s-logos.pug
include ../blocks/s-main-calendar/_s-main-calendar.pug
include ../blocks/s-news/_s-news.pug
include ../blocks/s-block/_s-block.pug
include ../blocks/s-sq/_s-sq.pug
include ../blocks/s-number-2/_s-number-2.pug
include ../blocks/aside/_aside.pug
include ../blocks/request/request

block title
	title ЛИЧНЫЙ КАБИНЕТ

block pagecontent
	+mob-mnu()
	+header()
		//- +top-line()
		+top-nav-po()
		+b.header-block
			.container
				+breadcrumb("Фитнес-зал","Технопарк")

	.animate-block#particles-js.particle-canvas.particles-js
		.container
			h1.under-canvas.page-title.page-title.pb-0
				span ЛИЧНЫЙ КАБИНЕТ

		//- .large-header#large-header
			//- canvas.x-canvas#x-canvas
			//- canvas.x-canvas#x-canvas2
			//- canvas.x-canvas#x-canvas3
		.section
			.container
				.row
					.col-xxl-2.col-lg-3
						+asideLK('Мой профиль', 'Мои обращения')
					.col
						div.mb-3
							+b.FORM.form-wrap
								+b.topic.row.mb-3
									.col-auto
										+e.item
											+e.INPUT.input(type="checkbox" id='1')&attributes(attributes)
											+e.LABEL.label(for='1') Все
									.col-auto
										+e.item
											+e.INPUT.input(type="checkbox" id='2')&attributes(attributes)
											+e.LABEL.label(for='2') Тематика
									.col-auto
										+e.item
											+e.INPUT.input(type="checkbox" id='3')&attributes(attributes)
											+e.LABEL.label(for='3') Тематика
									.col-auto
										+e.item
											+e.INPUT.input(type="checkbox" id='4')&attributes(attributes)
											+e.LABEL.label(for='4') Тематика
								.row
									.col-6.col-xl-4.col-xxl-2.date-picker-block-js
										+input("text","Показывать, от ")(class="startDate")
									.col-6.col-xl-4.col-xxl-2.date-picker-block-js
										+input("text","Показывать, до ")(class="startDate")
									.col-12.col-xxl-8.ml-xxl-auto
										.row
											.col-12.font-weight-bold.mb-3 Отображать только
											.col-6.col-xl-3
												+in-ch('polite')(checked)
													| Прочитанные
											.col-6.col-xl-3
												+in-ch('polite')(checked)
													| Не&nbsp;прочитанные
											.col-6.col-xl-3
												+in-ch('polite')(checked)
													| Отвеченные
											.col-6.col-xl-3
												+in-ch('polite')(checked)
													| Не отвеченные
						+request-mod()
						+pugin-2()

	.bg-primary.animate-footer
		canvas.x-canvas-2
		//- +s-contact()
		+footer()

