mixin s-profit()
	// start s-profit
	+b.s-profit.section#s-profit&attributes(attributes)
		.container
			.row
				.col
					.section-title: +e.title.h2.strong ЧЕМ РАНЬШЕ ВЫ&nbsp;ПРОЙДЕТЕ КУРС, ТЕМ БЫСТРЕЕ ВЫ&nbsp;УВЕЛИЧИТЕ ПРИБЫЛЬ  И&nbsp;ИСКЛЮЧИТЕ НЕПРИЯТНЫЕ СЮРПРИЗЫ
				.col-lg-5
					mixin item(i,p)
						+e.item.lazy-background
							+e.icon-wrap
								img.lazy(src="#" data-src=`img/profit-${i}.svg`, alt="")
							+e.text= p
						// /+e.item
					+item('1','Постоянно возникающие кассовые разрывы - когда нечем выплачивать зарплату и закрывать хвосты')
					+item('2','Усталось от операционных задач, которые изматывают и превращают развитие вашего бизнеса в замкнутый круг')
					+item('3','Надоело, что вы работаете все больше, а личный доход при этом не растет?')
					+item('4','Опасаетесь налоговых проверок потому, что понимаете, что ваш финучет и бухгалтерия неэффективны')
	// end s-profit