include ../mixin-wrap/mixin-wrap.pug
include ../mixin-wrap/form-wrap.pug
mixin s-form()
	// start s-form
	+b.SECTION.s-form.section#s-form
		.container
			+b.section-title
				h2.ttu ЕСТЬ вопросы?
			.row
				.col-xxl-4
					+e.text Задайте их нашим специалистам. Заполните форму и мы ответи Вам в течении 18 часов.
				.col
					+form-wrap()
						.row
							.col-lg-6
								+input-l("text","Ваше имя")
								+input-l("tel","Ваше Номер телефона")
								+input-un("email","Ваш e-mail (необязательно)")
							.col-lg-6
								+t-un("Ваш вопрос")
								.row.row--sm.align-items-center
									.col-sm
										+polite
									.col
										+e.BUTTON.btn(type="submit") Отправить
	// end s-form

mixin s-form--landing()
	// start s-form
	+b.SECTION.s-form--page.section#s-form
		.container
			+e.wrap
				.row
					.col
						+b.section-title
							h2.ttu Запишитесь  
								br
								| на бесплатный
								br
								|  пробный день
						+e.text--page.d-none.d-sm-block заполните личную 
							br
							| информацию
					.col-xl-5.col-lg-6
						+form-wrap() 
							+input-l("text","Ваше имя")
							.row
								.col-md-6
									+input-l("tel","Ваше Номер телефона")
								
								.col-md-6
									+input-l("text","Желаемая дата посещения")
								
							+input-un("email","Ваш e-mail (необязательно)") 
							.row.row--sm.align-items-center
								.col-sm
									+polite
								.col
									+e.BUTTON.btn(type="submit") Отправить
	// end s-form

mixin s-form--rent()
	// start s-form
	+b.SECTION.s-form--page.section#s-form
		.container
			+e.wrap
				.row
					.col
						+b.section-title
							h2.ttu Индивидуальный запрос
								br
								|  на планировку
								img.res-i.lazy(src="#" data-src="img/arrow-right-white.svg", alt="")
							p В&nbsp;рамках каждого этажа возможно арендовать необходимую площадь от&nbsp;50 кв.м., или организовать оптимальную конфигурацию и&nbsp;отделку по&nbsp;запросу арендатора
						+e.stock 
							img.res-i.lazy(src="#" data-src="img/user.svg", alt="")
							+e.stock-text: +e.inner  Специально для студентов и&nbsp;выпускников МФТИ(ГУ) существует скидка в&nbsp;размере 
								.h4.strong 10% от&nbsp;суммы аренды.
					.col-xl-5.col-lg-6
						+form-wrap() 
							+input-l("text","Ваше имя")
							+input-l("tel","Ваше Номер телефона") 
							+input-un("email","Ваш e-mail (необязательно)") 
							.row.row--sm.align-items-center
								.col-sm
									+polite
								.col
									+e.BUTTON.btn(type="submit") Отправить
	// end s-form

mixin s-form--rent2()
	// start s-form
	+b.SECTION.s-form--page.--gray.section#s-form
		.container
			+e.wrap
				.row
					.col
						+b.section-title
							h2.ttu Остались вопросы? 
								br
								| Задайте их нам
						+e.text--page.d-none.d-sm-block заполните личную 
							br
							| информацию
					.col-xl-5.col-lg-6
						+form-wrap() 
							+input-l("text","Ваше имя")
							+input-l("tel","Ваше Номер телефона") 
							+input-un("email","Ваш e-mail (необязательно)") 
							.row.row--sm.align-items-center
								.col-sm
									+polite
								.col
									+e.BUTTON.btn(type="submit") Отправить
	// end s-form

mixin s-form--wsh()
	// start s-form
	+b.SECTION.s-form--page.--gray.section#s-form
		.container
			+e.wrap
				.row
					.col
						+b.section-title
							h2.ttu Остались вопросы? 
								br
								| Задайте их нам
						+e.text--page.--wsh.d-none.d-sm-block Заполните и отправьте форму справа и мы ответим Вам
							br
							| в течении 12 часов на все интересующие Вас вопросы
					.col-xl-5.col-lg-6
						+form-wrap() 
							.row
								.col-md-6
									+input-l("text","Ваше имя")
								.col-md-6
									+input-l("tel","Ваше Номер телефона") 
							+input-un("email","Ваш e-mail (необязательно)") 
							+t-un("Ваш вопрос")
							.row.row--sm.align-items-center
								.col-sm
									+polite
								.col
									+e.BUTTON.btn(type="submit") Отправить
	// end s-form


mixin s-form--14()
	// start s-form
	+b.SECTION.s-form--page.section#s-form
		.container
			+e.wrap
				.row
					.col
						+b.section-title
							h2.ttu Расчет стоимости мероприятия
							.h4.strong.pt-2 Наша основная задача&nbsp;&mdash; подобрать индивидуальное решение для мероприятия в&nbsp;зависимости от&nbsp;формата и&nbsp;потребностей клиента. Профессиональная команда позволяет нам предлагать лучшие решения для клиентов, которые к&nbsp;нам возвращаются.
						+e.text--page.d-none.d-sm-block заполните личную 
							br
							| информацию
					.col-xl-5.col-lg-6
						+form-wrap() 
							.row
								.col-md-6
									+e.input-wrap.form-group
										+e.head-title Зал
										label
											+e.SELECT.input.form-control
												option( ) Зал 1
												option( ) Зал 2
								
								.col-md-6.date-picker-block-js
									+input("text","Дата  ")(class="startDate")
								
							+input-l("text","ФИО")
							+input-l("tel","Ваше Номер телефона")
							+input-un("email","Ваш e-mail (необязательно)") 
							.row.row--sm.align-items-center
								.col-sm
									+polite
								.col
									+e.BUTTON.btn(type="submit") Отправить
	// end s-form
