.s-form {

	display: block;
	&:not(.s-form--gray) {

		color: #ffffff;
	}
	
	// padding:0 ;
	padding-bottom: 0;
	padding-top: 40px;
	margin-bottom: 40px;
	@include media-breakpoint-up(xxxl) {
		// margin-top: 154px;
		// padding-left: 30px
		// margin-bottom: 250px;
	}
	
	@include media-breakpoint-up(xxl) {
		padding-top: 74px;
		margin-bottom: 138px;
	}

	input:-webkit-autofill{
		box-shadow: 0 0 0 30px $primary inset !important;
	}
	@include media-breakpoint-up(lg) {
		padding-top: 60px;
		margin-bottom: 60px;
	}
	
	@include media-breakpoint-up(md) {
		padding-top: 60px;
		margin-bottom: 60px;
	}

	&__text{
		@extend .h4;
		line-height: 1.4;
		@include media-breakpoint-up(xxl) {

			max-width: 360px;
		}
	}
	  .form-wrap{
		padding-top: 10px;
		// &__input{
		// 	// color: #ffffff;
		// }
		&__input{
			//  outline: 0 !important;
			 
			 border-bottom: 2px solid #000 !important;
	}
	&__btn{
	 
		@extend .btn-lg; 
	}
	}
	
	&:not(.s-form--gray) .form-wrap{
		padding-top: 10px;
		&__input{
			color: #ffffff;
		}
		&__input{
			//  outline: 0 !important;
			 
			 border-bottom: 2px solid #000 !important;
	}
	&__btn{
	 
		@extend .btn-lg;
		@extend .btn-outline-white;
	}
	}

	// 
	@include media-breakpoint-up(xl) {
		.section-title{
			padding-bottom: 30px;
		}
	}
	&:not(.s-form--gray) a{
		color: #ffffff;
	}
	
	
	
	// @include media-breakpoint-up(sm) {}
	&__wrap{
		margin-left: auto;
		margin-right: auto;
		max-width: 1400px;
		padding-top: 40px;
	}
	&__text--page{
		font-size: 1rem;
		padding-top: 80px;
		position: relative;
		&::after{
			content: url(../img/arrow-right.svg);
			position: absolute;
			left: 180px;
			// bottom: 0;
			// top: 100%;
			bottom: -10px;
		}
	}
	&--gray &__text--page{
		&::after{
			
			content: '';
			background-image: url(../img/arrow-right-dark.svg);
			width: calc(100% - 200px);
			right: 0;
			left: auto;
			bottom: -2px;
			height: 17px;
			background-repeat: no-repeat;
			background-position: center right;
		}
		&::before{
			content: ''; 
			width: calc(100% - 200px);
			right: 0;
			left: auto;
			position: absolute;
			height: 1px;
			bottom: 6px;
			background-color: #000000;
			background-repeat: no-repeat;
			background-position: center right;
		}
	}
	&--page{
		margin-bottom: 0 !important;
		padding-bottom: 60px;
		@include media-breakpoint-up(xxl) {
			padding-bottom: 115px;
		}
		.section-title{
			img{
				margin-left: 20px;
			}
			p{
				max-width: 654px;
			}
		}
	}
	&__text{
		&--wsh{
			@include media-breakpoint-up(xxl) {

				max-width: 570px;
			}
			&::before,
			&::after
			{
				display: none;
			}
		}
	}
	&__stock{
		display: flex;
		// justify-content: center;
		align-items: center;
		@include media-breakpoint-up(xs) {
			font-size: 12px;
		}
		&-text{
			
			border-top: 1px dashed #fff;
			border-bottom: 1px dashed #fff;
			max-width: 510px;
			padding-top: 10px;
			padding-bottom: 10px;
			margin-left: -50px;
		}
		img{
			position: relative;
			z-index: 2;
		}
	}
	&__inner{
		
		padding-left: 60px;
		padding-right: 20px;
		background: linear-gradient(89.65deg, #1A6696 3.51%, #0C95ED 84.63%), #0C95ED;
		padding-top: 10px;
		padding-bottom: 10px;
	}


	&--gray{
		background-color: #ededed;
	}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	// 
	@include media-breakpoint-between(md, xl) {}

	// 
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	// 
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}
}

 