mixin icon(name,mod)
	- mod = mod || ''
	svg(class="icon icon-" + name + ' ' + mod)
		use(xlink:href="img/svg/sprite.svg#" + name)


mixin breadcrumb(act, ...items)
	nav.breadcrumb
		each item in items
			a.breadcrumb-item(href='#')= item 
		span.breadcrumb-item.active= act
		
mixin pugin()
	nav
		ul.pagination.justify-content-center
			li.page-item.disabled
				a.page-link(href='#', tabindex='-1') 
					i(class="fas fa-chevron-left")
		 
			li.page-item
				a.page-link(href='#') 1
			li.page-item.active
				a.page-link(href='#')
					| 2 
					span.sr-only (current)
			li.page-item
				a.page-link.page-link-more(href='#') ...
			li.page-item
				a.page-link(href='#') 3

		 
			li.page-item
				a.page-link(href='#') 
					i(class="fas fa-chevron-right")

mixin pugin-2()
	nav
		ul.pagination
			li.page-item.disabled
				a.page-link(href='#', tabindex='-1') 
					i(class="fas fa-chevron-left")
		 
			li.page-item
				a.page-link(href='#') 1
			li.page-item.active
				a.page-link(href='#')
					| 2 
					span.sr-only (current)
			li.page-item
				a.page-link.page-link-more(href='#') ...
			li.page-item
				a.page-link(href='#') 3

		 
			li.page-item
				a.page-link(href='#') 
					i(class="fas fa-chevron-right")

//- h2.yel(class="  wow fadeInUp animated " data-wow-offset="120" data-wow-duration="1.2s")  
mixin arrow()
	.swiper-button-hand.swiper-button-hand-next.swiper-button-next
		+icon('chevron-right')
	.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
		+icon('chevron-left')
		



mixin soc()
	+b.soc
		mixin item()
			+e.A.item(href="#" target="_blank"): i(class="fab")&attributes(attributes)
		+item()(class="fa-instagram")
		+item()(class=" fa-facebook-f")
		+item()(class=" fa-vk")
		+item()(class=" fa-youtube")

mixin mnu()
	- var nav= {"МЕРОПРИЯТИЯ":"#","Контакты ":"#"}
	+b.nav
		+e.item
			+e.A.link(href="#") ТЕХНОПАРК
		
		+e.item--has-children
			+e.A.link(href="#") Услуги и сервисы
			+b.sub-menu
				+e.A.link(href="#") Офисы
				+e.A.link(href="#") Коворкинг
				+e.A.link(href="#") Конгресс-центр
				+e.A.link(href="#") Переговорные
				+e.A.link(href="#") Спортзал
				+e.A.link(href="#") Общепит
				+e.A.link(href="#") Парковка
		each linkPatch, linkName in nav
			+e.item: +e.A.link(href= linkPatch)= linkName
mixin mnu--wsh()
	- var nav= { "ПРОГРАММА":"#s-schedule", "СПИКЕРЫ":"#s-peoples", "ЦЕНЫ": "#s-price-work-shop"} 
	// add class
	+b.nav--js
		// /add class
	 
		each linkPatch, linkName in nav
			+e.item: +e.A.link(href= linkPatch)= linkName

mixin ci()
	+b.LABEL.custom-input
		+e.INPUT.input(type="checkbox")
		+e.SPAN.lab
		| 
mixin in-rad(n)
	+b.LABEL.custom-input
		+e.INPUT.input(type="radio" name= n)&attributes(attributes)
		+e.SPAN.lab
		block 
mixin in-ch(n)
	+b.LABEL.custom-input
		+e.INPUT.input(type="checkbox" name= n)&attributes(attributes)
		+e.SPAN.lab
		block 


mixin polite()
	.politic 
		+in-ch('polite')(checked)
		| Принимаю условия 
		|
		|
		+e.A.link(href="Soglasie.pdf" target="_blank") пользовательского соглашения 
		| 
		| и 
		| 
		+e.A.link(href="Soglasie.pdf" target="_blank") политики конфиденциальности 
