.header-block {

	z-index: 2;
	// min-height: 100vh;
	position: relative;
	
	// @include bgs;
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
	// background-attachment: fixed;
	&::before{
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		// background: linear-gradient(329.46deg, rgba(0, 0, 0, 0.79) 35.94%, rgba(0, 0, 0, 0.6) 71.39%);
		z-index: -1;
		
	}
	&__slide{
		@include bgs;
		min-height: 100vh;
		// height: 900px;
		display: flex !important;
		flex-direction: column;
		justify-content: center;
		padding-top: 160px;
		padding-bottom: (40px + 185px);
		// color: #ffffff;
		position: relative;
		z-index: 2;
		// padding-bottom: 100px;
		overflow: hidden;
		&::before{
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			// background: linear-gradient(180deg, rgba(0, 0, 0, 0.94) 3.06%, rgba(0, 0, 0, 0) 25.5%);
			z-index: -1;
			
		}
	}

	&__text{
		@extend .h4 ;
		font-weight: bold;
		max-width: em(550);
		line-height: 2;

		// span{
		// 	// line-height: .8;
		// 	outline: em(3) solid $danger;
		// 	box-shadow: 0 0 0 em(3) $danger;
		// 	background-color: $danger;
		// 	padding: em(2);
		// }
	}
	// background-position: top center;
	.carousel-indicators,
	.slick-dots{
		button{
			display: none;
			
		}
		display: block !important;
		@extend .container;
		position: relative;
		z-index: 20;
		top: -150px;

		margin-top: -24px;
		// margin-top: (-100px - 60px);
		// padding-bottom: (60px + 60px);
		li{
			cursor: pointer;
			width: 8px;
			height: 8px; 
			display: inline-block;
			background: #C4C4C4;
			border-radius: 50%;
			@include mt;
			margin-right: 20px;
			&.active,
			&:hover,
			&.slick-active{
				background-color: $primary;
			}
		}
	}

	&__btn-outline-white{
		@extend .btn;
		@extend .btn-outline-white;
		@extend .btn-block;
		@include media-breakpoint-up(sm) {

			width: 370px;
		}
		max-width: 370px;
		margin-bottom: 10px;
		font-size: 13px;
		padding: rem(15) rem(15);
	}


	&--dark{
		background-color: #313131;
		background-color: #313131;
		.breadcrumb-item {
			color: #fff !important;
	}
	h1{
		max-width: none;
		@include media-breakpoint-up(md) {

			padding-bottom: em(15);
		}

	}
	@include media-breakpoint-up(lg) {

		padding-bottom: 130px;
		// min-height: 100vh;
	}
	// position: 100px;
	padding-bottom: 80px;
	}
	.form-wrap{
		.h4{
			max-width: 400px;
		}
		@include media-breakpoint-up(md) {

			width: 531px;
			padding: 42px 37px;
			margin-top: 0;
		}
		margin-top: 20px;
		padding: 22px 17px;
		background-color: #ffffff;
	}
	&__text--white{
		max-width: 760px;
		@extend .h4;
		font-weight: bold;
		line-height: 1.5;
	}

	
	&__item-landing{
		display: flex;
		@include roww(11);
		font-size: rem(16);
		color: #ffffff;
		align-items: center;
		@include media-breakpoint-up(sm) {

			padding-bottom: 30px;
			padding-top: 30px;
		}
		padding-bottom: 15px;
		padding-top: 15px;
		@include media-breakpoint-up(xl) {

			min-width: 280px;
			padding-top: 60px;
		}
		.strong{
			font-size: 14px;
		}
		.icon{
			font-size: 46px;
			color: $primary;
		}
	}

	&--pay{
		.form-wrap{
			max-width: 1087px;
			margin-bottom: 30px;
			&__btn{
				max-width: 210px;
				display: block;
				margin-left: auto;
			}
		}
		h1{
			@include media-breakpoint-up(lg) {

				padding-bottom: 80px;
			}
		}
	}
	// 
	@include media-breakpoint-up(xl) {
		background-attachment: fixed;
	}
	@include media-breakpoint-up(xl) {}
	
	@include media-breakpoint-up(lg) {}
	
	@include media-breakpoint-up(md) {}
	
	@include media-breakpoint-up(sm) {}
	
	@include media-breakpoint-up(xs) {}
	
	// 
	@include media-breakpoint-between(md, xl) {}
	
	// 
	@include media-breakpoint-only(xs) {}
	
	@include media-breakpoint-only(sm) {}
	
	@include media-breakpoint-only(md) {}
	
	@include media-breakpoint-only(lg) {}
	
	@include media-breakpoint-only(xl) {}
	
	// 
	@include media-breakpoint-down(xl) {}
	
	@include media-breakpoint-down(lg) {}
	
	@include media-breakpoint-down(md) {}
	
	@include media-breakpoint-down(sm) {}
	
	@include media-breakpoint-down(xs) {}
	h1{
		max-width: 960px;
	}
	&__slide{
		h1,
		.h1{
			span{
				background-color: transparent;
				color: $primary;
				outline: em(0) solid $primary;
				box-shadow: 0 0 0 0 $primary;
			}
		}
	}
}
.page-title{
	
	max-width: em(410);
}

.page-title,
// .h1,
h1{
	
	font-weight: bold;
	// font-weight: normal;
	margin-bottom: 2rem;
	line-height: 1.56;
	span{
		line-height: .8;
		color: #ffffff;
		outline: em(2) solid $primary;
		box-shadow: 0 0 0 em(2) $primary;
		background-color: $primary;
	}
	@include media-breakpoint-up(xl) {
		font-size: rem(40);
		// padding-bottom: 0;
		margin-bottom: 0 !important;
	}
}

.bg-title{
	
	line-height: 1.46;
	span{
		line-height: .8;
		color: #ffffff;
		outline: em(2) solid $primary;
		box-shadow: 0 0 0 em(2) $primary;
		background-color: $primary;
	}
	
}
// .page-title{
	// 	// @include media-breakpoint-up(xxl) {
		
		// 	// 	padding-top: 80px;
// 	// 	padding-bottom: 60px;
// 	// }
// 	// padding-top: 20px;
// 	// padding-bottom: 20px;
// }
.big-title{
	
	@include media-breakpoint-up(xxl) {font-size: rem(70);}
	@include media-breakpoint-up(xl) {font-size: rem(70) * .9;}

	@include media-breakpoint-up(lg) {font-size: rem(70) * .8;}

	@include media-breakpoint-up(md) {font-size: rem(70) * .7;}

	@include media-breakpoint-up(sm) {font-size: rem(70) * .6;}
	@extend h1;
}

.animate-js{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	// @include transform( rotateY(180deg));
	
}

.timer-block{
	color: #ffffff;
	&__btn{
		@extend .btn;
		@extend .btn-lg;
		@extend .btn-danger;
		@extend .btn-block;
		@include media-breakpoint-up(sm) {

			width: 375px;
			max-width: 100%;
			// margin-left: 0;
			// margin-right: 0;
		}
		max-width: 320px;
		// margin-left: auto;
		// margin-right: auto;

		font-size: 16px;
		// color: #ffffff;
		padding-top: 15px;
		padding-bottom: 15px;
	}
}


ul.example-timer {
  list-style: none;
	// margin: 50px 0;
	
  // padding: 0;
	padding-top: 20px;
	padding-bottom: 50px;
	display: block;
	@include media-breakpoint-up(sm) {

		max-width: 380px;
	}
	max-width: 300px;
  text-align: center;
}

ul.example-timer li { display: inline-block; 
	&:not(.seperator){
		width: em(19);
	}
}

ul.example-timer li {
	@include media-breakpoint-up(sm) {

		font-size: 50px;
	}
	font-size: 38px;
	
}
ul.example-timer li span {
	font-size: 50px;
	font-size: 1em;
	// font-weight: 300;
	font-weight: bold;
  line-height: 1;
}

ul.example-timer li.seperator { 
	line-height: 1.2;
	margin-left: em(2);
	margin-right: em(2);
	vertical-align: top;
	&--day{
		width: 1px;
		height: 64px; 
		position: relative;
		top: em(5);
		// top: 351px; 
		border: 1px solid #0C95ED;
		margin-left: em(10);
		margin-right: em(10);
	}
}

ul.example-timer li p {
	color: fff;
	text-transform: uppercase;
  // font-size: 25px;
}
