.s-get-to {
	padding-bottom: 0 !important;
	.row{
		z-index: 2;
		position: relative;
		&::before{
			content: '';
			position: absolute;
			z-index: -1;
			width: 100%;
			left: 10%;
			height: 400px;
			background-color: #f8f8f8;
			bottom: 0;
		}
		&::after{
			content: '';
			position: absolute;
			width: 200%;
			@include media-breakpoint-up(lg) {
				
				right: 100px;
				top: 125px;
				height: 92%;
			}
			height: 88%;
			// height: 100%;
			@include media-breakpoint-up(sm) {

				top: 85px;
			}
			top: 55px;
			right: -50%;
			z-index: -1;
			background-color: $primary;
		}
	}

	&__text{
		color: #ffffff;
		@include media-breakpoint-up(sm) {
			
			padding-top: 100px;
			padding-bottom: rem(40);
		}
		padding-top: 40px;
		padding-bottom: rem(20);
		p{
			line-height: 1.4;
		}
	}

	&__ya-block{
		display: flex;
		align-items: center;
		border-radius: 10px;
		font-weight: bold;
		background-color: #228ccf;
		padding: 9px 9px;
		@include media-breakpoint-up(sm) {

			margin-bottom: rem(70);
		}
		margin-bottom: rem(30);
		img{
			flex-shrink: none;
			margin-right: 30px;
		}

	}
	&__wrap{
		max-width: 600px;
		color: #ffffff;
		.icon{
			font-size: rem(25);
			color: #000000;
			&-mail{
				font-size: rem(28);

			}
		}
	}
	&__icon-wrap{
			 
			// margin-right: 10px;
			width: 44px;
			display: block;
			margin-right: 5px;

		} 
	&__group{
		color: #ffffff;
		font-weight: bold;
		@extend .h4;
		max-width: 370px;
		display: flex;
		@include media-breakpoint-up(sm) {
			
			margin-bottom: 40px;
		}
		margin-bottom: 20px;
						@include media-breakpoint-up(sm) {
		&:last-child{
			margin-bottom: 20px;
		}
		}
		a{
			color: #ffffff !important;
			display: inline-flex;
			align-items: center;
		}
		.icon{
		}
	}

	&__map-wrap{
		@media (min-width: 1920px){

			@include block(925,584);
		}
		@include media-breakpoint-up(lg) {
			
			@include block(925,684);
			left: 20px;
			transform: translateX(0);
			top: 40px;
			// min-height: 80%;
			width: calc(50vw - 40px);
			height: 680px;
			max-height: 680px;
		}
		height: 100%;
		left: 50%;
		position: absolute;
		width: 100vw;
		transform: translateX(-50%);
		> * {
			position: absolute;
			left: 0;
			top: 0;
			width: 100% !important;
			height: 100% !important;
			border: none;
		}
	}
	//
	@include media-breakpoint-up(xl) {
		margin-top: 35px;
	}
	@include media-breakpoint-up(lg) {
		&__map-wrap-wrap{
			position: absolute;
		}
	}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	
	@include media-breakpoint-down(md) {
		&__map-wrap-wrap{
			@include block(925,684);
		}
	}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

}