mixin s-articals()
	// start s-articals
	+b.s-articals
		mixin item(i)
			.row
				.col-lg-6
					+e.img-wrap.img-bg
						img.lazy.res-i.lazy-bg(src="#" data-src=`img/articals-${i}.jpg`, alt="")
				.col.align-self-center
					block
		+item(1)
			+e.text
				+e.head
				| На&nbsp;первом этаже технопарка оборудованно 
				| 
				strong просторное пространство Play spase, 
				| в&nbsp;котором вы&nbsp;всегда можете отдохнуть и&nbsp;поиграть в&nbsp;настольный футбол, тенис, бильярд или просто расположиться на&nbsp;удобных креслах и&nbsp;диванах.
		+item(2)
			+e.text
				+e.head
				| При желании вы&nbsp;можете заказать у&nbsp;
				strong нас и&nbsp;услугу организации мероприятия &laquo;под ключ&raquo;
				|. Мы&nbsp;также, при необходимости, позаботимся о&nbsp;проживании гостей мероприятия, которые приехали издалека, организуем трансфер и&nbsp;проведем ознакомительную экскурсию по&nbsp;российской столице. Мы&nbsp;с&nbsp;удовольствием организуем и&nbsp;ваше мероприятие.
		+item(3)
			+e.text
				+e.head
				| На&nbsp;первом этаже технопарка оборудованно  
				strong просторное пространство Play spase
				|, в&nbsp;котором вы&nbsp;всегда можете отдохнуть и&nbsp;поиграть в&nbsp;настольный футбол, тенис, бильярд или просто расположиться на&nbsp;удобных креслах и&nbsp;диванах.
	// end s-articals