extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-about/_s-about.pug
include ../blocks/s-infrastructure/_s-infrastructure.pug
include ../blocks/s-logos/_s-logos.pug
include ../blocks/s-main-calendar/_s-main-calendar.pug
include ../blocks/s-news/_s-news.pug
include ../blocks/s-block/_s-block.pug
include ../blocks/s-sq/_s-sq.pug
include ../blocks/s-number-2/_s-number-2.pug

block title
	title НОВОСТИ

block pagecontent
	+mob-mnu()
	+header()
		//- +top-line()
		+top-nav()
	
		+b.header-block
			.container
				+breadcrumb("Фитнес-зал","Технопарк")

	.animate-block#particles-js.particle-canvas.particles-js 
		+b.s-content.section
			.container
				.row
					+e.col.col-xxl-6.col-xl-7
						h1.h2.news-title Global Venture Alliance и федеральная девелоперская компания Талан начинают совместный проект по поиску лучших стартапов
						p Физтехпарк  –  московский технопаркв сфере высоких технологий, который объединяет на своей площадке как крупные IT корпорации, так и молодые перспективные компании, и предоставляет все условия для их быстрого развития. 

						p Заказ ограждения в «Проф-заборы» – это оптимальное соотношение цена/качество. Стоимость зависит от вида материала, высоты конструкции, толщины элементов, покрытия, длины периметра, необходимости сооружения дополнительных элементов: ворот, калиток, установки забора с фундаментом и т.д. Ознакомьтесь с прайс-листом на заборы в разделе Цены.

					+e.col.col
						img.res-i(src="img/news-img.jpg", alt="")
					+e.col.col-12
						p Физтехпарк  –  московский технопаркв сфере высоких технологий, который объединяет на своей площадке как крупные IT корпорации, так и молодые перспективные компании, и предоставляет все условия для их быстрого развития. 

						p Заказ ограждения в «Проф-заборы» – это оптимальное соотношение цена/качество. Стоимость зависит от вида материала, высоты конструкции, толщины элементов, покрытия, длины периметра, необходимости сооружения дополнительных элементов: ворот, калиток, установки забора с фундаментом и т.д. Ознакомьтесь с прайс-листом на заборы в разделе Цены.

					+e.col.col
						img.res-i(src="img/news-img-2.jpg", alt="")
					+e.col.col-xxl-6.col-xl-7
						p Физтехпарк  –  московский технопаркв сфере высоких технологий, который объединяет на своей площадке как крупные IT корпорации, так и молодые перспективные компании, и предоставляет все условия для их быстрого развития. 

						p Заказ ограждения в «Проф-заборы» – это оптимальное соотношение цена/качество. Стоимость зависит от вида материала, высоты конструкции, толщины элементов, покрытия, длины периметра, необходимости сооружения дополнительных элементов: ворот, калиток, установки забора с фундаментом и т.д. Ознакомьтесь с прайс-листом на заборы в разделе Цены.

	.bg-light 
		+s-news
	.bg-primary.animate-footer
		canvas.x-canvas-2
		+s-form()
		//- +s-contact()
		+footer()
	
	