extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-about/_s-about.pug
include ../blocks/s-infrastructure/_s-infrastructure.pug
include ../blocks/s-logos/_s-logos.pug
include ../blocks/s-main-calendar/_s-main-calendar.pug
include ../blocks/s-news/_s-news.pug
include ../blocks/s-block/_s-block.pug
include ../blocks/s-sq/_s-sq.pug
include ../blocks/s-number-2/_s-number-2.pug
include ../blocks/news-block/_news-block.pug

block title
	title УСЛУГА И СЕРВИС

block pagecontent
	+mob-mnu()
	+header()
		//- +top-line()
		+top-nav()
	
		+b.header-block
			.container
				+breadcrumb("Фитнес-зал","Технопарк")

	.animate-block#particles-js.particle-canvas.particles-js
		+b.s-content--privacy.section
			.container
				h1.h2.ttu.pb-3  Политика конфиденциальности
				.h6
				ol
					li Общие положения
						ol
							li  Политика в отношении обработки персональных данных (далее — Политика) направлена на защиту прав и свобод физических лиц, персональные данные которых обрабатывает Общество с ограниченной ответственностью «СИТИЛИНК» (далее — Оператор).
							li Политика разработана в соответствии с п. 2 ч. 1 ст. 18.1 Федерального закона от 27 июля 2006 г. № 152-ФЗ «О персональных данных» (далее — ФЗ «О персональных данных»).
							li Политика содержит сведения, подлежащие раскрытию в соответствии с ч. 1 ст. 14 ФЗ «О персональных данных», и является общедоступным документом.

					
					li Сведения об операторе
						ol
							li  Оператор ведет свою деятельность по адресу 107207, г.Москва, Щелковское шоссе, д.77, стр.1, каб. 139

					
					li  Сведения об обработке персональных данных
						ol
							li Оператор обрабатывает персональные данные на законной и справедливой основе для выполнения возложенных законодательством функций, полномочий и обязанностей, осуществления прав и законных интересов Оператора, работников Оператора и третьих лиц.
							li  Оператор получает персональные данные непосредственно у субъектов персональных данных.
							li  Оператор обрабатывает персональные данные автоматизированным и неавтоматизированным способами, с использованием средств вычислительной техники и без использования таких средств.
							li   Действия по обработке персональных данных включают сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление и уничтожение.

					
					li Обработка персональных данных клиентов
						ol
							li  Оператор обрабатывает персональные данные клиентов в рамках правоотношений с Оператором, урегулированных частью второй Гражданского Кодекса Российской Федерации от 26 января 1996 г. № 14-ФЗ, (далее — клиентов).
							li   Оператор обрабатывает персональные данные клиентов в целях соблюдения норм законодательства РФ, а также с целью:
								ul
									li информировать о новых товарах, специальных акциях и предложениях;
									li заключение и исполнение условий договора.
							li  Оператор обрабатывает персональные данные клиентов с их согласия, предоставляемого клиентами и/или их законными представителями путем совершения конклюдентных действий на настоящем интернет-сайте, в том числе, но не ограничиваясь, оформлением заказа, регистрацией в личном кабинете, подпиской на рассылку, в соответствии с настоящей Политикой.
							li  Оператор обрабатывает персональные данные клиентов не дольше, чем того требуют цели обработки персональных данных, если иное не предусмотрено требованиями законодательства РФ.
							li Оператор обрабатывает следующие персональные данные клиентов:
								ul
									li Фамилия, имя, отчество;
									li Дата рождения;
									li Адрес;
									li Номер контактного телефона;
									li Адрес электронной почты.

					
					li  Сведения об обеспечении безопасности персональных данных
						ol
							li Оператор назначает ответственного за организацию обработки персональных данных для выполнения обязанностей, предусмотренных ФЗ «О персональных данных» и принятыми в соответствии с ним нормативными правовыми актами.
							li  Оператор применяет комплекс правовых, организационных и технических мер по обеспечению безопасности персональных данных для обеспечения конфиденциальности персональных данных и их защиты от неправомерных действий:
							ul
								li обеспечивает неограниченный доступ к Политике, копия которой размещена по адресу нахождения Оператора, а также может быть размещена на сайте Оператора (при его наличии);
								li во исполнение Политики утверждает и приводит в действие документ «Положение об обработке персональных данных» (далее — Положение) и иные локальные акты;
								li производит ознакомление работников с положениями законодательства о персональных данных, а также с Политикой и Положением;
								li осуществляет допуск работников к персональным данным, обрабатываемым в информационной системе Оператора, а также к их материальным носителям только для выполнения трудовых обязанностей;
								li устанавливает правила доступа к персональным данным, обрабатываемым в информационной системе Оператора, а также обеспечивает регистрацию и учёт всех действий с ними;
								li производит оценку вреда, который может быть причинен субъектам персональных данных в случае нарушения ФЗ «О персональных данных»;
								li производит определение угроз безопасности персональных данных при их обработке в информационной системе Оператора;
								li применяет организационные и технические меры и использует средства защиты информации, необходимые для достижения установленного уровня защищенности персональных данных;
								li осуществляет обнаружение фактов несанкционированного доступа к персональным данным и принимает меры по реагированию, включая восстановление персональных данных, модифицированных или уничтоженных вследствие несанкционированного доступа к ним;
								li производит оценку эффективности принимаемых мер по обеспечению безопасности персональных данных до ввода в эксплуатацию информационной системы Оператора;
								li осуществляет внутренний контроль соответствия обработки персональных данных ФЗ «О персональных данных», принятым в соответствии с ним нормативным правовым актам, требованиям к защите персональных данных, Политике, Положению и иным локальным актам, включающий контроль за принимаемыми мерами по обеспечению безопасности персональных данных и их уровня защищенности при обработке в информационной системе Оператора.

					
					li Права субъектов персональных данных
						ol
							li  Субъект персональных данных имеет право:
								ul
									li на получение персональных данных, относящихся к данному субъекту, и информации, касающейся их обработки;
									li на уточнение, блокирование или уничтожение его персональных данных в случае, если они являются неполными, устаревшими, неточными, незаконно полученными или не являются необходимыми для заявленной цели обработки;
 
	.bg-primary.animate-footer
		canvas.x-canvas-2
		+s-form()
		//- +s-contact()
		+footer()
	
	