extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug

//- include ../blocks/s-slider/_s-slider.pug
//- include ../blocks/s-catalog/_s-catalog.pug
//- include ../blocks/s-pick-up/_s-pick-up.pug
//- include ../blocks/s-download/_s-download.pug
//- include ../blocks/s-about/_s-about.pug
//- include ../blocks/prod-head/_prod-head.pug
//- include ../blocks/kart-body/_kart-body.pug
//- include ../blocks/s-order/_s-order.pug

block title
	title 404

block pagecontent
	+mob-mnu()
	+b.s-404
		+header()
			//- +top-line()
			+top-nav()  
		+e.inner 
			.container  
				img.res-i(src="img/404-img.svg", alt="")  
				.h4.ttu.text-white Страница не найдена
				div
					a.btn.btn-danger.btn-lg.ttu(href="#") На главную
				//- +prod-head()
			//- +kart-body()
			//- +s-order-6
			//- +s-form()
			//- +s-contact()
		+footer()
	
	