mixin s-peoples()
	// start s-peoples
	+b.s-peoples.section#s-peoples&attributes(attributes)
		.container
				
			.row
				.col-xxl-5.col-xl-auto
					+b.section-title
						.h2 Куратор
					+e.curator
						+e.head.text-center
							+e.img-wrap
								img.lazy(src="#" data-src="img/Ellipse.jpg", alt="")
							.h3.strong Татьяна Каримова
							p Управляющий партнер, Консалтинговая Компания СиЭрЛаб, профессор МИРБИС
						p Татьяна Каримова имеет 25 летний профессиональный опыт руководства крупными компаниями, в том числе 15 лет на позиции генерального директора (компании из топ-200 и топ-100 российских крупнейших компаний с численностью более 3 тысяч человек). 

						p Более 12 лет преподает в бизнес-школе Мирбис, создатель более 70 курсов лекций по дисциплинам MBA и Executive MBA (Экономика предприятия, Бюджетирование, Финансовое планирование, Антикризисное управление)
				.col
					+b.section-title
						.h2  Спикеры
					mixin item(  t1, t2, t3, t4)
						+e.item
							.row 
								.col-sm-auto.align-self-center
									+e.img-wrap--md
										img.lazy(src="#" data-src=`img/Ellipse.jpg`, alt="")
								.col.align-self-center
									+e.text
										+e.head-text
											.h4.strong= t1
											.small.text-primary= t2
										p.text-secondary= t3
						// +e.item
					+item("Алла Милютина","Руководитель и владелец аудиторской компании A. White & G. Hedges Audit","Налоговый консультант с 20-летним стажем. Эксперт в области налогового законодательства и финансового права, аудита налоговой безопасности. Автор семинаров и статей по налогообложению и бухгалтерскому учету для собственников компаний")
					+item("Дмитрий Гудович","Руководитель службы бухгалтерской поддержки клиентов Модульбанк ","Специалист по налогам и финансам, кандидат экономических наук, автор персонального блога о налогах и бухучёте.  ")
					+item("Владимир Туров","Глава юридической компании «Туров и партнеры»","Автор книг и профессиональных учебных видеокурсов по полной оптимизации налогов и обеспечению безопасности бизнеса, ведет Youtube - блог о налогах")
	// end s-peoples